* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: sans-serif;

    body {
        color: #aaa;
        background-color: #111111;
    }
}